@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <img src="@routes.Assets.at("images/worldmap.png")">
        <p>Select your role:</p>
        <p><a href="@routes.Student.home("Jake")">Student</link></p>
        <p><a href="@routes.Teacher.home("Jake")">Teacher</link></p>
        <p><a href="@routes.Admin.orgAdmin("Jake")">OrgAdmin</link></p>
        <p><a href="@routes.Admin.milCS("Jake")">MIL CS</link></p>
    </body>
</html>
